* {
    padding: 0;
    margin: 0;

    /* giới hạn input bên trong class ko nhô ra do giản nở */
    box-sizing: border-box;
}

.form-login {
    width: 400px;
    background-color: rgb(214, 210, 210);
    margin: 50px auto;
}

.logo-header {
    width: 100%;
    height: 50px;
    
    /* giới hạn position logo trong form-login */
    position: relative;
}

.logo {
    width: 150px;

    /* mở cho logo vô định vị trí */
    position: absolute;

    /* kéo sang trái tính từ vị trí 50% */
    left: 50%;

    /* kéo ngược lại 50% để ra giữa */
    transform: translate(-50%);

    /* kéo top nhô ra form-login 33px */
    top: -33px;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}

.title-form {
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 8px;

    /* khoảng cách giữa hai ô input */
    margin-bottom: 15px;
}

.form {
    padding: 30px;
}

.btn button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.chan {
    display: flex;
    justify-content: space-between;
}

.quenmatkhau, .dangki {
    padding: 15px;
}

.quenmatkhau a, .dangki a {

    /* bỏ dấu gạch chân thẻ a */
    text-decoration: none;
    
    color: black;
}