* {
    margin: 0;
    padding: 0;
}
.card {
    width: 350px;
    margin: 30px auto;
    /* giới hạn position absolute trong phạm vi card */
    position: relative;
}

.card img {
    width: 100%;
    /* xóa khoảng trắng giữa ảnh với class ngay dưới ảnh */
    vertical-align: middle;
}

.des {
    background-color: gray;
    padding: 15px;
    text-align: center;
    color: #fff;
}

.sale {
    background-color: yellow;
    color: red;
    padding: 15px;
    width: 70px;
    height: 70px;

    /* bo tròn  */
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 15px;

    /* chỉnh vị trí  */
    position: absolute;
    /* cách đỉnh 10px */
    top: 10px;
    /* cách trái 10px */
    left: 10px;
}